
<ion-content style="--ion-background-color:#1d1d4c;">
  <div class="ion-padding">
      <img src="../../assets/imagenes/logo_login.png"/>
      <br/>
      <br/>

    <ion-item>
      <ion-input style="color: white;" placeholder="Usuario" [(ngModel)]="user"></ion-input>
      <ion-icon style="color: white;" name="person" item-right></ion-icon>
    </ion-item>
    <ion-item>
      <ion-input style="color: white;" type="password" placeholder="Clave de acceso" [(ngModel)]="pass"></ion-input>
      <ion-icon style="color: white;" name="unlock" item-right></ion-icon>
    </ion-item>
  </div>
</ion-content>

<ion-footer style="--ion-background-color:#1d1d4c;">
  <ion-toolbar>
    <ion-button expand=full (click)="validarUsuario()">
      Ingresar
    </ion-button>
  </ion-toolbar>
</ion-footer>